---
// Importar datos o dependencias necesarias
const articles = [
  {
    title: "6 ways to give your home minimalistic vibes",
    description:
      "Decorating with neutrals brings balance to the dining room. With eclectic decoration on the sides, Caruso Dining Table and Cyrillo Dining Chairs elevate the tonal base of the room. The modern furniture set gives personality to any space in all types of architecture.‎ The wide volume enables everyone to sit back and relax, be it in the dining room, conference, or office.",
    image:
      "https://images.pexels.com/photos/7534561/pexels-photo-7534561.jpeg",
    category: "Tips and Trick",
    publishedAt: "2021-09-01",
    creator: {
      name: "John Doe",
      image:
        "https://i.pravatar.cc/300",
    },
  },
  {
    title: "How to make your interiors cooler and more stylish",
    description:
      "Decorating with neutrals brings balance to the dining room. With eclectic decoration on the sides, Caruso Dining Table and Cyrillo Dining Chairs elevate the tonal base of the room. The modern furniture set gives personality to any space in all types of architecture.‎ The wide volume enables everyone to sit back and relax, be it in the dining room, conference, or office.",
    image:
      "https://images.pexels.com/photos/5490356/pexels-photo-5490356.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
    category: "Design Inspiration",
    publishedAt: "2021-09-01",
    creator: {
      name: "John Doe",
      image:
        "https://i.pravatar.cc/300",
    },
  },
  {
    title: "Elements to add character to your space",
    description:
      "Decorating with neutrals brings balance to the dining room. With eclectic decoration on the sides, Caruso Dining Table and Cyrillo Dining Chairs elevate the tonal base of the room. The modern furniture set gives personality to any space in all types of architecture.‎ The wide volume enables everyone to sit back and relax, be it in the dining room, conference, or office.",
    image:
      "https://images.pexels.com/photos/7617028/pexels-photo-7617028.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
    category: "Tips and Trick",
    publishedAt: "2021-09-01",
    creator: {
      name: "John Doe",
      image:
        "https://i.pravatar.cc/300",
    },
  },
];
---

<section id="articles" class="py-8">
  <div class="container mx-auto p-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Sección principal -->
      <div class="flex flex-col">
        <p class="text-sm md:text-lg text-secondary-300 font-semibold mb-2">
          Articles
        </p>
        <p class="text-2xl xl:text-5xl text-paragraph-950 font-bold md:max-w-xl">
          The best furniture comes from Lalasia
        </p>
        <p class="mt-4 md:mt-8 text-sm md:text-lg text-paragraph-500 md:max-w-lg">
          Pellentesque etiam blandit in tincidunt at donec.
        </p>
        <div class="relative w-full h-52 mt-5 md:h-[565px]">
          <img
            src="https://images.pexels.com/photos/26966417/pexels-photo-26966417/free-photo-of-madera-hotel-escritorio-oficina.jpeg"
            class="object-cover w-full h-full"
            alt="Featured article"
          />
          <span
            class="absolute bottom-24 md:bottom-36 left-2 text-sm md:text-lg text-white font-bold opacity-80"
          >
            Tips and Trick
          </span>
          <h6
            class="absolute bottom-18 md:bottom-28 left-2 text-base md:text-2xl font-bold text-white"
          >
            Create Cozy Dinning Room Vibes
          </h6>
          <p
            class="absolute bottom-12 md:bottom-18 left-2 text-sm md:text-lg text-white truncate max-w-70 md:max-w-[550px] opacity-80"
          >
            Decorating with neutrals brings balance to the dining room. With
            eclectic decoration on the sides, Caruso Dining Table and Cyrillo
            Dining Chairs elevate the tonal base of the room.
          </p>
          <a
            href="/#"
            class="absolute bottom-6 left-2 text-xs md:text-lg text-white font-bold"
            >Read More</a
          >
        </div>
      </div>

      <!-- Lista de artículos -->
      <div class="flex flex-col gap-4">
        {articles.map((article) => (
          <div class="flex flex-row items-start gap-4">
            <!-- Imagen del artículo -->
            <div class="w-30 h-30 md:w-64 md:h-64 flex-shrink-0">
              <img
                src={article.image}
                alt={article.title}
                class="object-cover w-full h-full"
              />
            </div>
            <!-- Contenido del artículo -->
            <div class="flex flex-col md:h-auto md:m-auto md:ml-0">
              <p class="text-xs md:text-lg font-bold text-gray-600 mb-2">{article.category}</p>
              <a
                href="#"
                class="text-base md:text-2xl text-black font-bold leading-[130%] md:max-w-80 lg:max-w-80 hover:underline mb-2"
              >
                {article.title}
              </a>
              <p class="hidden md:block md:text-lg md:max-w-40 lg:max-w-80 max-h-8 truncate mb-2">{article.description}</p>
              <div class="flex items-center gap-2 mt-2">
                <img
                  src={article.creator.image}
                  alt={article.creator.name}
                  class="w-5 h-5 md:w-7 md:h-7 object-cover rounded-full"
                />
                <div class="flex flex-row justify-between items-center w-full">
                  <p class="text-xs md:text-sm text-black font-bold">
                  {article.creator.name}
                </p>
                <p class="hidden lg:block text-xs md:text-sm text-gray-600 font-bold">
                  {article.publishedAt}
                </p>
                </div>
              </div>
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>