---
import { Image } from "astro:assets";
import Logo from "@/components/common/Logo.astro";
import bag2 from "@/assets/icons/bag-2.svg";
import user from "@/assets/icons/user.svg";
import menu from "@/assets/icons/menu.svg";

// Datos para el menú de navegación
const navItems = [
  { label: "Product", url: "/products" },
  { label: "Services", url: "/services" },
  { label: "Article", url: "/article" },
  { label: "About Us", url: "/about-us" },
];
---

<header class="bg-white sticky top-0 z-10 border-b border-gray-100">
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center h-16">
      <!-- Logo -->
      <Logo />
      <!-- Navegación para escritorio -->
      <nav class="hidden md:flex space-x-8">
        {
          navItems.map((item) => (
            <a href={item.url}>
              <p class="p2 hover:text-primary-500 transition-colors duration-300">
                {item.label}
              </p>
            </a>
          ))
        }
      </nav>

      <!-- Iconos de usuario y carrito -->
      <div class="flex items-center space-x-4">
        <a href="/cart" class="text-gray-600 hover:text-primary-500 relative">
          <Image src={bag2} alt="bag" class="h-6 w-auto" />
          <span
            id="cart-count"
            class="absolute -top-2 -right-2 bg-primary-500 text-white text-xs rounded-full h-5 w-5 flex items-center justify-center"
          >
            0
          </span>
        </a>

        <a href="/account" class="text-gray-600 hover:text-primary-600">
          <Image src={user} alt="user" class="h-6 w-auto" />
        </a>

        <!-- Botón de menú móvil -->
        <button
          id="mobile-menu-button"
          class="md:hidden text-gray-600 hover:text-primary-600"
        >
          <Image src={menu} alt="menu" class="h-8 w-auto" />
        </button>
      </div>
    </div>

    <!-- Menú móvil (oculto por defecto) -->
    <div id="mobile-menu" class="md:hidden hidden pb-4">
      <nav class="flex flex-col space-y-3">
        {
          navItems.map((item) => (
            <a href={item.url}>
              <p class="p2 hover:text-primary-500 transition-colors duration-300">
                {item.label}
              </p>
            </a>
          ))
        }
      </nav>
    </div>
  </div>
</header>

<script>
  // Lógica para el menú móvil
  document.addEventListener("DOMContentLoaded", () => {
    const mobileMenuButton = document.getElementById("mobile-menu-button");
    const mobileMenu = document.getElementById("mobile-menu");

    if (mobileMenuButton && mobileMenu) {
      mobileMenuButton.addEventListener("click", () => {
        // Toggle la clase 'hidden' para mostrar/ocultar el menú
        mobileMenu.classList.toggle("hidden");
      });
    }
  });
</script>
